A/S Add discussion of <group> syntax

Add a discussion of <group> syntax, including its utility and whatever comments we can make about level and extent of support.   Consider it both in the context for forward-pointing header addresses and "Reply-to:" in 5322bis (going back to named-lists in RFC 822 and even RFC 733)  and with the extensions to backward-pointing header addresses ("From:" and "Sender:") in RFC 6854.


Text added in -25