Recommended SMTP extensions

`owner:alexey.melnikov@isode.com` `type_task`   |    by alexey.melnikov@isode.com

___


Suggested SMTP Extensions (MUST/SHOULD/mention/don’t mention):

8BITMIME (RFC 6152)
PIPELINING (RFC 2920)
Enhanced Reply Codes (RFC 5248)


___
_Issue migrated from trac:40 at 2022-01-31 12:37:01 +0000_

_@alexey.melnikov@isode.com_ _commented_


___
Also consider:

DSNs (RFC 3461)
SMTPUTF8 (a.k.a. EAI) (RFC 6531)

_@alexey.melnikov@isode.com_ _commented_


___
Initial suggestion:

8BITMIME (RFC 6152) - MUST
Enhanced Reply Codes (RFC 5248) - MUST
DSNs (RFC 3461) - MUST

PIPELINING (RFC 2920) - SHOULD
SMTPUTF8 (a.k.a. EAI) (RFC 6531) - SHOULD

_@alexey.melnikov@isode.com_ _commented_


___
Discussed @ IETF 112. Broad support for this in the meeting.

Note that the above requirements are somewhat stronger than what is currently in RFC 6409, where all but SMTPUTF8 are "SHOULD"s.

This never made it into Appendix G (and that is probably why I opened #64); Have dealt with that in the working draft of rfc5321bis-11.  Note that a SHOULD for 8BITMIME has been added to Section 2.4 on the basis of prior WG discussions.  Making it a MUST would require additional discussion.

As to 6409 (Message Submission), much of the idea there was to be able to define different requirements, especially on the receiver side, than SMTP requires in transit, noting that the sender side of a Submission Server is required to be sure that everything it sends onto the public Internet is SMTP-conforming.

In general, I think requirement levels for extensions (and whatever associated discussion is needed) should be in the A/S, with _only_ those extensions that seem connected to statements that are in 5321bis for other reasons included there (and probably repeated/mentioned in the A/S anyway).  Up to the WG of course, but this is an area where both the "minimal change" and "5321bis is already too long and complicated" issues apply. 

Following up on the above. please review -fc5321bis-11 when it appears.

After a more comprehensive review, it appears that the extensions listed are already discussed in rfc5321bis with requirements text ("*" indicates the Section containing the actual requirement): 
    8BITMIME (Section 2.3.1, 2.4*), 
    DSNs  (Sections 3.6.2*, 4.5.5) 
    Enhanced Reply Codes (Section 2.3.7, 3.5.1, 4.2, 4.3.2*(very weak SHOULD)) 
In addition, the following are mentioned informatively  (no requirements text): 
   PIPELINING (Section 2.1)
   SMTPUTF8 (Section 4.1.2 (in rfc5321-11))

Please review the above but I believe that, if the text in rfc5321bis-11 is acceptable, this ticket can be closed and/or dealt with in the A/S as suggested below.

I suggest that we not add further recommendation/requirement text to rfc53121bis but instead deal with it in the A/S as appropriate.    In particular, relative to the proposed MUST requirements above, I would urge being very cautious about rfc5321bis and features that are not universally supported today.  Enhanced Status Codes are a particularly good example: many contemporary (and conforming to 5321) SMTP implementations appear to not support them.  Imposing a new requirement that invalidates them should, procedurally, take us back to Proposed Standard.  A better plan would be to leave/specify them as SHOULD (no change) and then use the A/S to explain why they are a really, really, good idea (or that not supplying them is a terrible idea).


Have discussion on list as to whether or not A/S covers these topics, then close the ticket.

Levine 2 July, 2024:

Sec 2.4 says you MUST implement Deliver Status Notifications [RFC3461].

This is wrong, and not just because Deliver is missing the "y".
RFC3461 is about the EHLO keyword DSN which enables MAIL FROM keywords
RET and ENVID and RCPT TO keywords NOTIFY and ORCPT.

The only large mail system I know that announces DSN is Microsoft and
I wouldn't count on them getting it right. Gmail doesn't, Yahoo
doesn't, Comcast doesn't, Fastmail doesn't, Tucows' hostedemail
doesn't. Exim appears to support it but I'm pretty sure Postfix
doesn't.

Please just take it out.

> Levine 2 July, 2024:
> 
> Sec 2.4 says you MUST implement Deliver Status Notifications [RFC3461].
> 
> This is wrong, and not just because Deliver is missing the "y". RFC3461 is about the EHLO keyword DSN which enables MAIL FROM keywords RET and ENVID and RCPT TO keywords NOTIFY and ORCPT.
> 
> The only large mail system I know that announces DSN is Microsoft and I wouldn't count on them getting it right. Gmail doesn't, Yahoo doesn't, Comcast doesn't, Fastmail doesn't, Tucows' hostedemail doesn't. Exim appears to support it but I'm pretty sure Postfix doesn't.
> 
> Please just take it out.

Nerenberg concurs:

Another reason for nuking it: requiring this for embedded devices
(think printers, scanners, fax machines) is nonsensical. 

Removed RFC 3461 from the list of MUST support extensions and added the following paragraph as suggested by Klensin:
```

   Delivery Status Notifications [RFC3461] requests, while recommended
   and useful if supported, have not been widely implemented and
   deployed.  Mail systems that send such requests should be prepared
   for systems that receive them to not recognize or support them.  Note
   that this extension for notification requests is distinct from the
   format of notifications defined in [RFC3464] and [RFC6533] and, the
   special media type defined in [RFC6522].  All of those SHOULD be
   supported.

```

DSN was carefully designed so that you would know whether you could expect to get a notification or not - the last step to support it would send you back a note saying "you'll never know" when sending to a nonsupporter.
Then MSN started announcing support *without* sending back notifications in the standard format.
We lost this one. Let's not try to resurrect it by unrealistic requirements.
(Just venting).



--On Thursday, October 17, 2024 10:01 -0700 Harald Alvestrand
***@***.***> wrote:

> DSN was carefully designed so that you would know whether you could
> expect to get a notification or not - the last step to support it
> would send you back a note saying "you'll never know" when sending
> to a nonsupporter. Then MSN started announcing support *without*
> sending back notifications in the standard format. We lost this
> one. Let's not try to resurrect it by unrealistic requirements.
> (Just venting).

I completely agree and that is what the paragraph Ken mentioned was
intended to say, replacing text that did appear to make that
unrealistic requirement.    If you think it does not make the point
appropriately, please suggest text.

On the other hand, it has appeared to me that the notification format
and media type are supported sufficiently (MSN notwithstanding) that
recommending them is not a lost cause as long as systems that receive
notifications in other formats don't go crazy about it.  Do we need
to say explicitly that systems generating notifications SHOULD use
those formats and media type but that those receiving notifications
in other forms SHOULD accept them rather than overreacting (at least
if they are not abusive)?   

There is an obvious question about how far to do in that direction
but maybe the A/S needs to say, in large type in appropriate formats:
"All systems handling mail should use good sense and facilitate
reasonable messages that might be wanted by the recipient getting
through the system and delivered".  I hope we don't need to go there.
If we do, maybe it belongs in rfc5321bis and rfc5322bis as well.
But...

best,
   john (who is obviously having a bad week, for which I apologize)



   john



The folks in the room at IETF 121 were happy with the new next in -12

I was about to close this ticket, but section 2.4 doesn't mentioned STARTTLS, which I believe it has to.

Is STARTTLS a MUST or a SHOULD?

Realistically, I think it is MUST implement on the server side.

Or at least "MUST implement on public Internet".

STARTTLS was added as "MUST implement" in -14.