Functional Groups in Section 4.2.2 are unclear

Donald Eastlake wrote:

> Section 4.2.2: OK, but what are these "Functional Groups"? Some
> sort of subheadings (not necessarily part of the hierarchical
> numbering) are needed.

To which John Klensin replied:
 
> These groupings, and the use of that terminology without a further
> breakdown or description or subheadings, come straight out of RFC
> 821.  That is more than 40 years with no evidence that it has been
> the source of a problem.  It might be that the difference in
> formatting between RFCs 821 (and 2821) and their successors is
> helpful.  The formatting in the current document is identical to
> that in RFC 5321 (2821 followed the 821 model but was probably
> prepared using xml2rfc version 1 (i.e., the RFC 2629 version) and
> translated to nroff).  I have figured out how to make xml2rfc
> restore that earlier layout but, if we want to do that, the WG is
> going to need to very carefully review the new groupings since
> there are codes that do not appear in RFC 821 or even in RFC 2821
> and the ordering of some of the existing codes was changed (even
> between 2821 and 5321).

To which Alexey Melnikov replied: 
> I think the latest version of the draft restored the grouping.

To which John Klensin replied:
> It restored groupings but, given new codes and rearrangement of
> existing ones, others need to confirm that is what is wanted.


As of his 2024-10-27 message at `<https://mailarchive.ietf.org/arch/msg/last-call/1qEIdmlXiDGhLkFnvEwppEZMfCs>`, Donald still believes that we should add subheadings.  Not clear to me what those would be even if the WG agreed.

Regrouping applied in version -35 (2024-11-08).   However, further study indicates that the groups were really about the second digit.    Proposed change to that and some minor text tuning to clarify.  See `<https://mailarchive.ietf.org/arch/msg/emailcore/cGGRemDY4_vGPUbjmkhRw6Yziws>`.  To date, no response to that email on 2024-11-12

Groupings explained and reverted to RFC 821 "second digit" model in -36.