A/S - Description of DKIM

Section 6.4 of draft-ietf-emailcore-as-16 describes DKIM as follows:

- DKIM [RFC6376] provides a method to detect forged sender addresses in an email (spoofing)

As mentioned during IETF 122, that description is likely to be challenged by others in the community, especially those who have been or are active in the DKIM Working Group.

Either of the following might be better text for describing DKIM:

- DomainKeys Identified Mail (DKIM) permits a person, role, ororganization to claim some responsibility for a message by associating a domain name [[RFC1034](https://datatracker.ietf.org/doc/html/rfc1034)] with the message [[RFC5322](https://datatracker.ietf.org/doc/html/rfc5322)], which they are authorized to use.
- DKIM [[STD 76](https://datatracker.ietf.org/doc/std76/)] attaches a domain name to a message by using a cryptographic signature

The former is from the Introduction section of RFC 6376, while the latter is from the charter of the recently resuscitated DKIM Working Group.

I will use the first option as replacement text

I think the first option is better.

Text in version -18 was approved in Madrid.  Should be ready to close this issue pending no opposition on the list.