RFC 8126 requires specifying "Change Controller" and Change Control procedure

John K. wrote:

> (6) Section 2.3 of RFC 8126 appears to me to require that we
> specify the change control mechanism for the relevant registry.

I agree that the registration template should have a new "Change Controller" field, which must be "IETF" for all SMTP extensions specified in IETF Stream RFCs.

In regards to change control mechanism: I think adding a sentence saying that changes to existing registrations follow the same process as initial registrations. I.e. they need to go through Expert Reviewer.


Possibly "Overtaken by Events", as the registration procedure is now either IETF Review (for which change controller is always IETF) or FCFS. Do we still need this for the latter?

Fixed with the rewrites to Section 8.1.1 in -17.