STARTTLS discussion in, or pointer from, rfc5321bis security considerations

There has been an extended conversation on the Last Call list, with some followup on the WG's mailing list, about STARTTLS, with comments including: insistence that STARTTLS be treated as part of SMTP and required, that it should at least be mentioned as part of Security Considerations, or that the material about it (and associated Security Considerations) in the A/S at least be mentioned and explicitly referenced from rfc5321bis.  

The discussion may include several other issues: (1) If we are not going to discuss specific extensions in 5321bis, do we need  to include a pointer to where some or all of them are discussed and, if so, how do we do it?  (2) Under Security Considerations, Section 7.1 is now focused on authentication.  Should there be explicit material and discussions about encryption?   (3) Is the description of issues with hop-by-hop transport, especially with regard to the impact on authentication and/or encryption methods, in rfc5321 and/or the A/S adequate and, if not, what do we do about it and where?  (4) If we are not going to mention STARTTLS in 5321bis, should we drop the mention of S/MIME and PGP?  (5) If we are going to dig into STARTTLS, should we also be digging into, e.g., SMTP AUTH.

The counterargument, of course, it that, other than understanding the implications of a multihop model, none of this is part of SMTP and that, other than a mention of 8BITMIME as an example and some remarks that a knowledgeable reader will associate with the SMTPUTF8 work, we simply do not discuss specific SMTP extensions in the 5321bis document and none of the above justifies an exception.

Again, see the email thread for extended discussion about almost all of the above.

Seems like this all overlaps with #97 and #113.

> should we drop the mention of S/MIME and PGP? 

This is what didn't make sense to me. The argument on the list was "we shouldn't include extensions", but these are extensions. It's ok to mention them, but I think the text about transport layer security is misleading.

I think some variation of what I put in #113 (edit for your style) is the way to go. A brief explanation of per-hop and all-hops security is probably required by IETF policy. An informative reference to RFC 8314 "Cleartext Considered Obsolete: Use of Transport Layer Security (TLS) for Email Submission and Access" should take care of that.

Take look at the references here:

https://datatracker.ietf.org/doc/html/rfc8314#section-9

The document doesn't directly reference 5321, but almost every mail document in that list does. I think it's ok for this reference to be informative, because implementors need to choose from that reference list, and the landscape here is always changing. For example, the document mentions STARTTLS and SMTP MTA Strict Transport Security (MTA-STS)
RFC 8461 https://datatracker.ietf.org/doc/rfc8461/.

The title certainly gets the point across, and the last sentence of the introduction is exactly what we want to say:

"The recommendations in this memo do not replace the functionality of, and are not intended as a substitute for, end-to-end encryption of electronic mail."

Also, it sure seems like the reference to https://www.rfc-editor.org/info/std72 should be normative. The document makes a few different normative statements about it, and it wouldn't be a downref. (sorry if this has already come up, that's difficult to search for).

S/MIME and PGP are not SMTP extensions, they are content formats that are carried over SMTP.
Thus, references may belong in a security considerations section that says things like "if you carry encrypted messages such as S/MIME or PGP, then encrypting the hop-by-hop exchange guards against traffic analysis, the content of messages is already encrypted". Those references would definitely be informative if included in 5821bis.

OK, I see. I get that the document is already pretty long, and there's not much that is easy to write about the right and left sides of this diagram:

https://datatracker.ietf.org/doc/html/draft-ietf-emailcore-rfc5321bis-34#section-2

While [RFC 6409](https://www.rfc-editor.org/rfc/rfc6409.txt) doesn't need to be discussed in detail, the box labeled "Client-SMTP" does need to offer TLS for that hop.

Sigh.

Harald, yes, exactly right.  And, while I'd prefer your sentence in the A/S to adding it to 5321bis, it would not be hard or, iMO, damaging to adjust the comment in the latter about those two to mention that.   I would say "guards against most traffic analysis" however.  And your suggested statement still would not call STARTTLS out by name, which I think is what Rob is being so insistent about.    Thanks.

Rob,  But your comment above is exactly the issue.   Message submission is not part of SMTP, which is why there is a separate box in that picture at the lower left, so all of the things you keep quoting from RFC 6408 are out of scope and largely irrelevant.  Could we insert a statement that says that the SMTP client MUST be ready to accept messages that are encrypted over the incoming link?  Possibly, However, that would still not make explicit reference to STARTTLS appropriate.  It  would also violate the principle about avoiding imposing new requirements as we move to Internet Standard.  The only one of those we've done so far is the change of TURN  from SHOULD NOT to MUST NOT but that was already a deprecated feature.  More important, telling people to definitely not ask for that particular feature has much less impact than adding a new "do this" requirement.  Equally important, unless I/we have gotten something seriously wrong, everything 5321bis has said about Message Submission (and RFC 6409) identifies is as a different protocol, to be preferred to SMTP in selected cases, but not as part of SMTP.  It seems to me that your suggestions are trying to push that boundary.  

And, finally, I note that RFC 8314, which you have cited repeatedly as imposing a requirement on RFC 5321, does make that requirement for RFC 6409 and several other specs but not on SMTP/5321 itself.   Again, saying some things about the additional implications of 8314 on submission and hence desirable properties of the incoming side of SMTP clients might be entirely reasonable in the A/S... but not 5321bis.

> Possibly, However, that would still not make explicit reference to STARTTLS appropriate.

Well, I was trying not to make an explicit reference. I propose exact text in #113. I'm just saying RFC 8314 is a good informative reference. It's actually quite critical of STARTTLS, and in fact does cover SMTP, even though it doesn't make a reference to it directly. For example:

`MSPs currently supporting such use of cleartext SMTP (on port 25)
      as a means of Message Submission by their users (whether or not
      requiring authentication) SHOULD transition their users to using
      TLS (either Implicit TLS or STARTTLS) as soon as practicable.`

https://github.com/ietf-wg-emailcore/emailcore/issues/113#issuecomment-2466794846

What RFC 8314 does do is provide a good outline of TLS usage for the mail ecosystem. In fact, I kind of like it because it points out the landscape is a bit messy. It also agrees with the bit on E2E that's already in this draft.

```
This memo does not address the use of TLS with SMTP for message relay
(where Message Submission [RFC6409] does not apply).  Improving the
 use of TLS with SMTP for message relay requires a different approach.
 One approach to address that topic is described in [RFC7672]; another
 is provided in [MTA-STS].

 The recommendations in this memo do not replace the functionality of,
 and are not intended as a substitute for, end-to-end encryption of
 electronic mail.
```

Discussion during Dublin IETF in November 2024 and at December 2024 interim confirmed that the WG doesn't want to have direct reference to STARTLS in rfc5321bis and will point to A/S (draft-ietf-emailcore-as) instead which has extensive discussion of various use of TLS with SMTP. Below is the latest text in the Security Considerations of rfc5321bis-37 that reflects this decision:

7. Security Considerations

SMTP is not a secure protocol as that term is understood in the
contemporary Internet. It was designed, and is specified in this
document, to transport a mail message without any provisions to
prevent or detect reading of messages, or alteration of their
content, as they move from original sender to final recipient.
Similarly, it contains no mechanisms to ensue that the identity of
the message originator is real or used with authorization. In the
last few decades, mechanisms have been developed as SMTP extensions
or supplemental protocols to mitigate those problems and
vulnerabilities. In addition to those outlined in the subsections
below, the security considerations that motivate those mechanisms and
their limitations are discussed in the Applicability Statement
document [56]. Pointers to the individual documents (containing
their own Security Considerations sections) appear there as well.
See Section 1.3 for additional discussion.

I will close this ticket, as it is quite specific to rfc5321bis and there is a separate ticket for A/S anyway.