Recommended email address syntax for web forms

> 4.3. Use and Validation in HTML and Other Contexts
> Email addresses are frequently used as input in HyperText Markup
> Language (HTML) forms but the allowed grammar of these email
> addresses is more restrictive than the grammar for a 'Mailbox' in
> Section 4.1.2 of [I-D.ietf-emailcore-rfc5321bis] (the lack of quoted
> strings and limited characters allowed in domains). Implementations
> that intend to accept email addresses in HTML forms are encouraged to
> consult the valid email address grammar in Section 4.10.5.1.5 of
> [HTML].

The references WHATWG document currently says:
 email = 1*( atext / "." ) "@" label *( "." label )
 label = let-dig [ [ ldh-str ] let-dig ] ; limited to a length of 63 characters by RFC 1034 section 3.5
 atext = < as defined in RFC 5322 section 3.2.3 >
 let-dig = < as defined in RFC 1034 section 3.5 >
 ldh-str = < as defined in RFC 1034 section 3.5 >

Issues with WHATWG syntax:
• Quoted strings are not allowed at all.
• How big of a deal that is?
• Sequential dots are allowed by the syntax, where they are not allowed by rfc5321bis... unless quoted.
• Non ASCII are not currently allowed.

Suggestion from the January 2025 interim is not to use the WHATWG syntax.

I think the recommendation is to avoid quoted string in local-part, i.e. recommended syntax is:

Dot-string "@" Domain

Proposed ABNF in version -19.  Decision in Madrid was to take it to the list and discuss i18n and/or "plus" addressing