Erratum 2578: wrong section reference when pointing to the ABNF RFC 5234

`owner:alexey.melnikov@isode.com` `resolution_fixed` `type_defect`   |    by alexey.melnikov@isode.com

___


Section 4.1.2 says:

   Terminals not defined in
   this document, such as ALPHA, DIGIT, SP, CR, LF, CRLF, are as defined
   in the "core" syntax in Section 6 of RFC 5234 [7] or in the message
   format syntax in RFC 5322 [4].

It should say:

   Terminals not defined in
   this document, such as ALPHA, DIGIT, SP, CR, LF, CRLF, are as defined
   in the "core" syntax in Appendix B of RFC 5234 [7] or in the message
   format syntax in RFC 5322 [4].

Notes:

The core syntax of ABNF is defined in Appendix B "Core ABNF of ABNF" of RFC 5234, not Section 6, which lists the document's references.


___
_Issue migrated from trac:25 at 2022-01-31 12:35:33 +0000_

_@alexey.melnikov@isode.com_ _changed status from `new` to `assigned`_

_@alexey.melnikov@isode.com_ _set owner to `alexey.melnikov@isode.com`_

_@alexey.melnikov@isode.com_ _changed status from `assigned` to `closed`_

_@alexey.melnikov@isode.com_ _set resolution to `fixed`_