Historical note in section 8.3.2

Section 8.3.2 currently has the following note:

   Historical note:
   The quantity and complexity of the changes below are largely due to
   registry organization decisions made in the fairly distant past by
   IANA and, in retrospect, not made optimally.  For example,
   Section 2.2.2 of RFC 2821 specified information that must be
   specified when extensions are registered.  IANA chose to capture that
   information in four fields -- "EHLO Keyword", "Description",
   "Reference", and "Note" -- leaving some of it out and the rest to
   presumably be captured in the the references and notes.  RFC 5321
   carried that text forward, as did versions of the current document
   until the middle of 2022, when the WG started to make decisions to be
   more explicit about what belonged in the registry (content, not
   organization).  When combined with IANA's expecting much more
   explicit instructions, the result became the more detailed and
   complex registry instructions below, reorganizing material that
   should have been present all along rather than demanding significant
   new material.

IANA has asked for some changes, so that the text doesn't make it appear as if IANA just made unilateral decision about this.

The WG can also decide to remove the whole note.

I suggest removing the whole note. It is grammatically incorrect and not that important to record.