Text in “3.6.2.  Message Submission Servers as Relays” contains text not related to Message Submission

Alexey Melnikov wrote:

3.6.2.  Message Submission Servers as Relays

  Many mail-sending clients exist, especially in conjunction with
  facilities that receive mail via POP3 or IMAP, that have limited
  capability to support some of the requirements of this specification,
  such as the ability to queue messages for subsequent delivery
  attempts.  For these clients, it is common practice to make private
  arrangements to send all messages to a single server for processing
  and subsequent distribution.  SMTP, as specified here, is not ideally
  suited for this role.  A standardized mail submission protocol has
  been developed that is gradually superseding practices based on SMTP
  (see RFC 6409 [48]).  In any event, because these arrangements are
  private and fall outside the scope of this specification, they are
  not described here.

The first paragraph of this section: so far so good...

Then looking at the rest of the section:

  It is important to note that MX records can point to SMTP servers
  that act as gateways into other environments, not just SMTP relays
  and final delivery systems; see Sections 3.7 and 5.

  If an SMTP server has accepted the task of relaying the mail and
  later finds that the destination is incorrect or that the mail cannot
  be delivered for some other reason, then it MUST construct an
  "undeliverable mail" notification message and send it to the
  originator of the undeliverable mail (as indicated by the reverse-
  path).  Formats specified for non-delivery reports by other standards
  (see, for example, RFC 3461 [39] and RFC 3464 [40]) SHOULD be used if
  possible.

  This notification message must be from the SMTP server at the relay
  host or the host that first determines that delivery cannot be
  accomplished.  Of course, SMTP servers MUST NOT send notification
  messages about problems transporting notification messages.  One way
  to prevent loops in error reporting is to specify a null reverse-path
  in the MAIL command of a notification message.  When such a message
  is transmitted, the reverse-path MUST be set to null (see
  Section 4.5.5 for additional discussion).  A MAIL command with a null
  reverse-path appears as follows:

     MAIL FROM:<>

  As discussed in Section 6.4, a relay SMTP has no need to inspect or
  act upon the header section or body of the message data and MUST NOT
  do so except to add its own "Received:" header field (Section 4.4.1
  and possibly other trace header fields) and, optionally, to attempt
  to detect looping in the mail system (see Section 6.3). Of course,
  this prohibition also applies to any modifications of these header
  fields or text (see also Section 7.9).

The rest of this section has nothing to do with Submission. I
think it is all about relays. Should this be moved to a
separate section purely about relays?


In particular, the proposed text seems suitable for 3.6.1.

Resolved in draft-ietf-emailcore-rfc5321bis-27