Better definition for trace header fields

`keyword_rfc5322` `owner:resnick@episteme.net` `type_enhancement`   |    by alexey.melnikov@isode.com

___


Various documents define trace header fields which can be added during SMTP relay and final delivery. RFC 5322 defines ABNF (and list 2 header fields) in Section 3.6.7 ("Trace Fields"). Other RFCs added other trace header fields, e.g. Authentication-Results (RFC 7601) and more esoteric SIO-Label-History (RFC 7444).

___
_Issue migrated from trac:7 at 2022-01-31 12:33:38 +0000_

_@alexey.melnikov@isode.com_ _commented_


___
Ned Freed wrote:

And this turns out to be harder than I thought, because there's no actual
definition of a trace field in either RFC 5321 or RFC 5322. They simply
list Return-Path: and Received: as the trace fields and stop.

Going back to RFC 822, we have this definition:

     Trace information is used to provide an audit trail of  mes-
     sage  handling.   In  addition,  it indicates a route back to the
     sender of the message.
     
It's a starting point, I guess, but only that.

Now that I've researched this, I think we need to have a better definition of
trace field, irrespective of what we end up with in regards to message
modification.

For one thing, the definition in RFC 822 calls into question the legitimacy of
classifying Authentication-Restuls as a trace field. All of the other fields
I'm aware of that warranr this status are either added at a specified point
during message processing (final delivery)  or contain a timestamp.  A-R pesses
neither property, instead depending on location alone - which doesn't really
fit with the notion of an audit trail, at least not as I understand it.

There's also the issue that neither RFC 8098 nor RFC 3461 say that
Original-Recipient is a trace field, but I guess this can be fixed with
a registration update, once that's possible.

_@alexey.melnikov@isode.com_ _commented_


___
Ned Freed wrote:

There's the even more fundamental issue of the criteria for declaring something a trace field.

_@alexey.melnikov@isode.com_ _commented_


___
Dave Crocker wrote:

Does it help to use the word "handling" rather than "trace"?


_@alexey.melnikov@isode.com_ _commented_


___
Ned Freed wrote in response to Dave Crocker:

Maybe a little.

The problem is we now have other specifications talking about trace fields.
Dealing with that substantially increases the cost of any wording change.

I don't think the benefits measure up to the costs.

_@alexey.melnikov@isode.com_ _set owner to `resnick@episteme.net`_

_@alexey.melnikov@isode.com_ _set component to `email-format`_

_@alexey.melnikov@isode.com_ _commented_


___
It looks like this issue is also affecting rfc5321bis, so the same ticket will be used to address both.

_@alexey.melnikov@isode.com_ _commented_


___
Based on IETF 111 discussion:

Proposed ABNF for trace:

trace = [return] *(received/optional-field)

_@alexey.melnikov@isode.com_ _commented_


___
Suggested changes to rfc5321bis:

https://mailarchive.ietf.org/arch/msg/emailcore/mjqqTjF6Rlc6suNNaz6nycEsY-Y/

_@alexey.melnikov@isode.com_ _commented_


___
draft-ietf-emailcore-rfc5321bis-05 incorporates all necessary changes for SMTP.

_dougfoster.emailstandards@gmail.com_ _commented_


___
I suggest that all additions to a message should be added at the top, and above the Received header.   This adds clarity about which entries are added at which point in the process.   I am frustrated by one particular MTA which adds some entries above the Received header, some entries below the Received header, and some entries at the end of the header section.

draft-ietf-emailcore-rfc5322bis-03 addressed remaining issues related to this ticket.