CNAME handling in “5.1.  Locating the Target Host”

Alexey Melnikov wrote:

In 5.1:
  The lookup first attempts to locate an MX record associated with the
  name.  If a CNAME record is found, the resulting name is processed as
  if it were the initial name.

Is CNAME expansion only done once? Or multiple times? If
multiple times, what the minimal expected limit?


John Klensin wrote:

RFC 1123 Section 5.2.2 prohibits CNAMEs in MAIL or RCPT
commands.  At some point we changed that and 2821 contains the
text above, with no hints about iteration or recursion.  I
vaguely recall the change being made in some document between
1123 and 2821, but that is a dozen or so very eventful years.

I think being more specific requires involving the WG and
recognizing that whatever we say is likely to render some
existing implementation non-conforming.  How would you feel
about a statement in the A/S pointing out that long CNAME chains
are a source of trouble, that, when possible, one should stick
to 1123-style canonical names, and when that is not possible, to
try to keep the chains short.


As per further discussion at Madrid IETF 123, it looks like rfc5321bis says what we want it to say and there is nothing else to say in A/S.