A/S: confidentiality and authentication

(from the list, just to track)

The document says "Opportunistic TLS is confidentiality without authentication". I'm a little confused here. Shouldn't it always at least authenticate the server if the TLS handshake works? Maybe I'm just misreading this part.

Maybe it has some different kind of "authentication" in mind? It's confusing, because the introduction to TLS 1.3 says TLS provides Authentication, Confidentiality, and Integrity.

https://datatracker.ietf.org/doc/html/rfc8446#section-1

The abstract to STARTTLS says:

"This document describes an extension to the SMTP (Simple Mail
   Transfer Protocol) service that allows an SMTP server and client to
   use TLS (Transport Layer Security) to provide private, authenticated
   communication over the Internet."

https://datatracker.ietf.org/doc/html/rfc3207

For opportunistic TLS, STARTTLS proceeds, even if the target server certificate can't be verified for some reason. That is why the server might not be authenticated.

I don't think that's what the RFC says (that is one option, though).

"If the client receives the 454 response, the client must decide whether or not to continue the SMTP session."

But that is not confidentiality either, if the client proceeds.

So I guess you mean this part:
https://datatracker.ietf.org/doc/html/rfc3207#section-4.1

That is, again, a choice. But it sort of describes any TLS handshake (self-signed cert, mismatch, etc).

I've always taken "Opportunistic" to mean the 454 behavior, where the client can proceed in the clear.
https://en.wikipedia.org/wiki/Opportunistic_encryption

I tried to write the text I think should be there. The reason I was confused is because the current text at start of the second paragraph conflated "opportunistic" with lack of authentication. Often true, but not in a defining sense. The "opportunistic" part is the fallback to clear text.


> Opportunistic Confidentiality
> 
> The most common implementation of message confidentiality is what's known as "opportunistic TLS", which is frequently referred to as "opportunistic encryption".  With this method, a receiving server announces in its greeting that it is capable of supporting TLS encryption through the presence of the "STARTTLS" keyword [RFC 3207].  The sending client then attempts to negotiate an encrypted connection, and if successful, transmits the message in encrypted form; if negotiation fails, the client might fall back to sending the message in clear text.
> 
> Opportunistic TLS is optional confidentiality due to the ability to fall back to transmission in the clear if a secure connection cannot be established. Opportunistic TLS is often configured to provide confidentiality without authentication, where no effort is made to authenticate the receiving server [RFC 3207, [Section 4.1](https://datatracker.ietf.org/doc/html/rfc3207#section-4.1)]. Most modern implementations of SMTP support this method, especially at the largest mailbox providers, and so the vast majority of email traffic is encrypted during its time transiting from the client to the server.
> 
> Note: While TLS provides protection while the message is in transit, there is no guarantee that the message will be stored in encrypted fashion at its destination.  In fact, storage in plain text should be expected!

Text in version -18 was approved in Madrid with the slight modification in version -19.  Should be ready to close this issue pending no opposition on the list.