Clarify where and how CNAME DNS RR can be used and any limitations

Ted Lemon wrote:

Section 5.1 doesn't say what to do with chained CNAMEs. It might be
worth saying more here. A strict reading of the spec here would I
think treat chained CNAMES correctly in the sense that if the target
of the CNAME is treated as the initial name, then each target would be
processed the same way, by first looking for a CNAME. And of course a
full-service resolver will do the CNAME work for the SMTP client. So
perhaps clarifying that the "resulting name" is the result of fully
following the CNAME as described in RFC1035 section 7.1.

After some mailing list discussion Ted proposed the following:

OLD:
      Any other
      response, specifically including a value that will return a CNAME
      record when queried, lies outside the scope of this Standard.  The
      prohibition on labels in the data that resolve to CNAMEs is discussed
      in more detail in RFC 2181, Section 10.3 [33].

NEW:
      An MX record with a CNAME as its target is a misconfiguration,
      as explained in RFC2181, Section 1.3 [33].
      However, implementations SHOULD still process CNAME responses
      when received, since a significant number of servers on the internet
      are configured with MX records pointing to CNAMEs.


Text above added in rfc5321bis-34.